version: '3.6'
services:
  iris:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '45773:1972'
      - '46773:52773'
      - '47773:53773'
    
    volumes:
      - ./:/irisdev/app
      - ../:/external